@page
@model WalkingTracker.Pages.Tracking_Log.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tracking Log</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrackingLog.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackingLog.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrackingLog.Distance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrackingLog.Distance)
        </dd>
    </dl>
</div>
<div>
    <div class="btn-group btn-group-sm" role="toolbar">
        <a class="btn special-color text-white" asp-page="./Edit" asp-route-id="@Model.TrackingLog.ID">Edit</a>
        <a class="btn special-color text-white" asp-page="./Index">Back to List</a>
     </div>
    </div>
