@page
@model WalkingTracker.Pages.Tracking_Log.IndexModel
@using WalkingTracker.Areas.Tracking.Models

@{
    ViewData["Title"] = "Index";
}
@{
    //Retrieves locations based on current distance traveled

    decimal distTotal = Model.TrackingLog.Sum(s => s.Distance);

    Location newLocation = new Location(distTotal);


    newLocation.FindLocations(distTotal);
    newLocation.CalcProgress(distTotal);

    String currentID = Model.currentUserID;

}

<div class="container-fluid">
    <h2>Your Progress</h2>
    You are @newLocation.CheckpointProgress% of the way to @newLocation.EndLocation
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: @newLocation.CheckpointProgress%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    You are @newLocation.TotalProgress% through your journey
    <div class="progress">
        <div class="progress-bar bg-warning" role="progressbar" style="width: @newLocation.TotalProgress%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <ul>
        <li>
            You have traveled <strong>@distTotal miles</strong>, placing you between <strong>@newLocation.StartLocation</strong> and <strong>@newLocation.EndLocation</strong>
        </li>
        <li>
            Only <strong>@(newLocation.EndMiles - distTotal) of @newLocation.EndMiles</strong> miles to go before you reach <strong>@newLocation.EndLocation</strong>!
        </li>
    </ul>
    <div class="btn-group btn-group-sm" role="toolbar">
        <a asp-page="Create" class="btn btn-mdb-color">Add Your Progress</a>
        <a asp-page="Log" class="btn btn-mdb-color">View Your Log</a>
    </div>

</div>
<div class=" container-fluid">
    <div class="row">
        <div class="col">
            <p>Here is some placeholder text: chart</p>


            <p>Here is some placeholder text: chart toggle settings</p>
        </div>
        <div class="col-md-2">
            <p>Here is some more placeholder text: badges</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Here is some placeholder text: chart</p>
        </div>
        <div class="col-md-2">
            <p>Here is some more placeholder text: table settings</p>
        </div>
    </div>
</div>